# Web Scraping With The Pandas

In [1]:
import os
import pandas as pd

In [2]:
data_laliga22 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/SP1.csv') #reading csv file

In [3]:
data_laliga22

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,12/08/2022,20:00,Osasuna,Sevilla,2,1,H,1,1,...,1.52,0.25,1.73,2.08,1.76,2.20,1.88,2.23,1.79,2.09
1,SP1,13/08/2022,16:00,Celta,Espanol,2,2,D,1,0,...,1.70,-0.75,2.00,1.90,2.02,1.91,2.06,1.93,2.01,1.86
2,SP1,13/08/2022,18:00,Valladolid,Villarreal,0,3,A,0,0,...,1.79,0.25,2.02,1.88,2.02,1.91,2.03,1.91,1.98,1.88
3,SP1,13/08/2022,20:00,Barcelona,Vallecano,0,0,D,0,0,...,2.61,-1.75,1.82,2.08,1.83,2.08,1.86,2.14,1.82,2.06
4,SP1,14/08/2022,16:30,Cadiz,Sociedad,0,1,A,0,1,...,1.50,0.25,2.05,1.85,2.06,1.87,2.08,1.92,2.00,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,04/06/2023,20:00,Betis,Valencia,1,1,D,1,0,...,1.71,0.00,2.14,1.80,2.17,1.78,2.17,1.86,2.08,1.79
376,SP1,04/06/2023,20:00,Celta,Barcelona,2,1,H,1,0,...,1.91,0.00,2.08,1.85,2.09,1.83,2.15,1.89,2.04,1.83
377,SP1,04/06/2023,20:00,Elche,Cadiz,1,1,D,0,1,...,1.94,0.00,1.73,2.08,1.75,2.19,1.93,2.23,1.83,2.04
378,SP1,04/06/2023,20:00,Espanol,Almeria,3,3,D,1,1,...,2.62,-0.25,2.05,1.75,2.12,1.81,2.16,1.83,2.08,1.78
379,SP1,04/06/2023,20:00,Valladolid,Getafe,0,0,D,0,0,...,1.58,-0.50,2.03,1.90,2.00,1.91,2.11,1.91,2.05,1.82

In [4]:
data_laliga22 = data_laliga22.rename(columns={'Date': 'date',
                                            'HomeTeam': 'home_team',
                                            'AwayTeam': 'away_team',
                                            'FTHG': 'home_goals',
                                            'FTAG': 'away_goals'})

In [5]:
data_laliga22

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,12/08/2022,20:00,Osasuna,Sevilla,2,1,H,1,1,...,1.52,0.25,1.73,2.08,1.76,2.20,1.88,2.23,1.79,2.09
1,SP1,13/08/2022,16:00,Celta,Espanol,2,2,D,1,0,...,1.70,-0.75,2.00,1.90,2.02,1.91,2.06,1.93,2.01,1.86
2,SP1,13/08/2022,18:00,Valladolid,Villarreal,0,3,A,0,0,...,1.79,0.25,2.02,1.88,2.02,1.91,2.03,1.91,1.98,1.88
3,SP1,13/08/2022,20:00,Barcelona,Vallecano,0,0,D,0,0,...,2.61,-1.75,1.82,2.08,1.83,2.08,1.86,2.14,1.82,2.06
4,SP1,14/08/2022,16:30,Cadiz,Sociedad,0,1,A,0,1,...,1.50,0.25,2.05,1.85,2.06,1.87,2.08,1.92,2.00,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,04/06/2023,20:00,Betis,Valencia,1,1,D,1,0,...,1.71,0.00,2.14,1.80,2.17,1.78,2.17,1.86,2.08,1.79
376,SP1,04/06/2023,20:00,Celta,Barcelona,2,1,H,1,0,...,1.91,0.00,2.08,1.85,2.09,1.83,2.15,1.89,2.04,1.83
377,SP1,04/06/2023,20:00,Elche,Cadiz,1,1,D,0,1,...,1.94,0.00,1.73,2.08,1.75,2.19,1.93,2.23,1.83,2.04
378,SP1,04/06/2023,20:00,Espanol,Almeria,3,3,D,1,1,...,2.62,-0.25,2.05,1.75,2.12,1.81,2.16,1.83,2.08,1.78
379,SP1,04/06/2023,20:00,Valladolid,Getafe,0,0,D,0,0,...,1.58,-0.50,2.03,1.90,2.00,1.91,2.11,1.91,2.05,1.82